[Desktop Entry]
Encoding=UTF-8
Name=到 AID第一阶段测试 (.docx 的链接
Type=Link
URL=http://code.tarena.com.cn/AIDCode/aid1911/00-xunlianying/AID%d4%c2%bf%bc/AID%b5%da%d2%bb%bd%d7%b6%ce%b2%e2%ca%d4%20%28.docx
Icon=text-html
Name[zh_CN]=第一阶段测试 .docx
